# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/

# Django/entorno
.env
*.log
db.sqlite3

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de pruebas con cURL
orders_inventory_api/tests/curl/*.json